.wrap--banner{
  height: 490px;
  width: 100%;
  background-image: linear-gradient(119deg, #e03c16 0%, #b11402 100%);
}
.bl-container--banner{
  height: 490px;
 background: url("../../../static/bg-banner.png") center bottom -200px no-repeat;
  position: relative;
  z-index: 1;
  color: #ffffff;
}
.container--banner{
  height:490px;
  background: url("../../../static/bigDetail.png") right no-repeat;
}
.banner__title{
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.24);
  font-weight: 700;
  font-size: 38px;
  padding-bottom: 20px;
}
.banner__subtitle{
  font-size: 22px;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.24);
  font-weight: 600;
  padding-bottom: 50px;
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 247px;
  height: 60px;
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  border-radius: 10px;
}
.button--banner{
  font-size: 16px;
  font-weight: 700;
  color: #e03c16;
}