.bl-container--ceil {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  background-color: #f2f2f2;
  height: 95px;
}

.basket__text--bold {
  border-bottom: #000000 1px solid;
  text-decoration: none;
  color: #000000;
}

.basket__item {
  color: #505050;
}

.basket {
  margin-right: 40px;

  &__text {
    font-weight: 700;
  }

  &__img {
    margin-right: 20px;
  }
}

.follow {
  padding-right: 15px;
}

.registration {
  border-left: 1px solid #d4d4d4;
  padding-left: 15px;
}