.star{
  color: #e03c16;
  font-size: 16px;
}
.guarantee__title{
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.56px;
}
.guarantee__subtitle{
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.18px;
}
.guarantee__link{
  color: #646464;
  font-size: 16px;
  border-bottom: 1px;
}
.guarantee__line {
  width: 51px;
  height: 1px;
  border: 2px solid #e03c16;


  &--2 {
    margin-top: 5px;
    width: 20px;
    height: 1px;
    border: 2px solid #e03c16;
  }
}