.bl-container--header{
  font-size: 15px;
  height: 65px;
}
.menu{
  padding: 0;
  display: flex;
  list-style-type: none;
  &__item{
    padding: 25px 15px 0 0;
  }
  &__link{
    color:#000000;
  }
}
.text-red{
  color: #e74c3c;
}
.call__number{
  font-size: 21px;
  white-space: nowrap;
}
.call__int{
  font-size: 25px;
  font-weight: 700;
}
.geolocation {
  margin-left: 0px;
  &-img {
    margin-right: 5px;
  }
}