@import "./node_modules/bootstrap/scss/bootstrap";

$primary: #00dac7;
$pink: #ff3399;

$theme-colors: (
        "primary": $primary,
        "pink": $pink
);

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 1400px,
        xl: 1500px
) !default;